{% extends 'main/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome {{ request.user.username | capfirst }}</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-outline-dark mb-2">Profile</a></li>
    <li class="d-grid"><a href="{% url 'address' %}" class="btn btn-dark">Address</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
   <div class="row">
    {% if user_addresses %}
      {% for address in user_addresses %}
      <div class="col-sm-6 mb-2">
        <div class="card">
          <div class="card-body">
          <h3>Address {{ forloop.counter }}</h3>
          <p><strong>Street:</strong> {{ address.street}}</p>
          <p><strong>State:</strong> {{ address.state}}</p>
          <p><strong>City</strong> {{ address.city}}</p>
          <p><strong>Country:</strong> {{ address.country}}</p>
          <p><strong>Zip Pin:</strong> {{ address.zip_code}}</p>
          <p><strong>Phone:</strong> {{ address.phone_number}}</p>
        </div>
      </div>
      </div>
      {% endfor %}
    {% endif %}
   </div>
  </div>
 </div>
</div>
{% endblock main-content %}
