{% extends 'main/base.html' %}
{% load static %}
{% block title %}Orders{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome {{ request.user.username | capfirst }}</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'orders' %}" class="btn btn-dark">Orders</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
    {% if orders %}
      {% for order in orders %}
        <div class="row">
          <div class="col-sm-12 card">
            <h1 class="text-center">Order Number: {{order.id}}</h1>
            {% for item in order.items.all %}
              <div class="card p-2">
                <p><strong>Product: </strong> {{item.product.title}}</p>
                <p><strong>Quantity: </strong> {{item.quantity}}</p>
                <p><strong>Total Price: </strong> {{item.total_cost}}</p>
                <img src="{{item.product.product_image.url}}" alt="" width="100px">
              </div>
            {% endfor %}
            <p><strong>Status: </strong> {{order.status}}</p>
            <p><strong>Address: </strong> {{order.address.formatted_address}}</p>
            <p><strong>Ordered Date: </strong> {{order.ordered_date}}</p>
            <p><strong>Username: </strong> {{order.user.username}}</p>
            <p><strong>Phone Number: </strong> {{order.address.phone_number}}</p>
          </div>
          <a href="{% url 'update_order_status' order.id %}" class="btn btn-dark">Update Order Status</a>
          <hr>
        </div>
      {% endfor %}
    {% endif %}
  </div>
 </div>
</div>
{% endblock main-content %}
