{% extends 'main/base.html' %}
{% load static %}
{% block title %}Orders{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome {{ request.user.username | capfirst }}</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'orders' %}" class="btn btn-dark">Orders</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
    {% if orders %}
      {% for order in orders %}
        <div class="row">
          <div class="col-sm-6">
            <p><strong>ID: </strong> {{order.id}}</p>
            <p><strong>Product: </strong> {{order.product.title}}</p>
            <p><strong>Quantity: </strong> {{order.quantity}}</p>
            <p><strong>Price: </strong> {{order.product.discounted_price}}</p>
            <p><strong>Status: </strong> {{order.status}}</p>
            <p><strong>Address: </strong> {{order.address.formatted_address}}</p>
            <p><strong>Ordered Date: </strong> {{order.ordered_date}}</p>
          </div>
          <hr>
        </div>
      {% endfor %}
    {% endif %}
  </div>
 </div>
</div>
{% endblock main-content %}
