{% extends 'main/base.html' %}
{% load static %}
{% block title %}Password{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome {{request.user.username | capfirst}}</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-dark">Change Password</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
    {% if messages %}
      {% for message in messages %}
        <p {% if message.tags %} class="alert alert-{{message.tags}} mb-2" {% endif %}>{{ message }}</p>
      {% endfor %}
    {% endif %}
   <form action="{% url 'password_change' %}" method="post" novalidate>
    {% csrf_token %}
    {% for fm in form %}
      <div class="mb-3 form-group">
        {{fm.label_tag}} 
        {{ fm }} 
        <small class="text-danger">{{ fm.errors|striptags }}</small>
      </div>
    {% endfor %}
    <input type="submit" class="btn btn-dark" value="Update Password">
  </div>
 </div>
</div>
{% endblock main-content %}
