{% extends 'main/base.html' %}
{% load static %}
{% block title %}Product Detail{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-6 text-center align-self-center">
   <img src="{{ product.product_image.url }}" alt="" class="img-fluid img-thumbnail">
  </div>
  <div class="col-sm-5 offset-sm-1">
   <h2>{{ product.title }}</h2>
   <hr>
   <p><strong>Description:</strong> {{ product.description }} </p> <br>
   <h4>{{product.selling_price }}€ <small class="fw-light text-decoration-line-through">{{ product.discounted_price }}€</small></h4> <br>
   <form action="{% url 'add_to_cart' %}" method="POST" class="d-inline">
    {% csrf_token %}
    <input type="hidden" name="product_id" value={{product.id}}>
    <input type="submit" value="Add to Cart" class="tn btn-dark shadow px-5 py-2">
   </form>
   <a href="{% url 'buy_now' %}" class="btn btn-dark shadow px-5 py-2 ms-4">Buy Now</a>
   <h5 class="mt-5">Available Offers</h5>
   <ul>
    <li>Bank Offer 5% Unlimited Cashback on Mastercard</li>
    <li>Special Price Get extra 30€ off (price inclusive of discount)</li>
    <li>Available on installments</li>
    <li>Special discounts for students</li>
   </ul>
  </div>
 </div>
</div>
{% endblock main-content %}
