{% extends 'main/base.html' %}
{% load static %}
{% block title %}Cart{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <h1 class="text-center mb-5">Shopping Cart</h1>
  <div class="col-sm-8">
  <div class="card">
   <div class="card-body">
     {% if cart_items %}
      <h3 class="text-center">Cart</h3>
      {% for item in cart_items %}
      <div class="row my-2">
      <div class="col-sm-3 text-center align-self-center"> <img src="{{ item.product.product_image.url }}" alt="" srcset="" class="img-fluid img-thumbnail shadow-sm" height="150" width="150"></div>
      <div class="col-sm-9"> 
        <div>
        <h5>{{ item.product.title }}</h5>
        <p class="mb-2 text-muted small"><strong>Description:</strong> {{ item.product.description }}</p>
        <div class="my-3" id="action-buttons">
          <span id="product-id" class="d-none">{{item.product.id}}</span>
          <label for="quantity">Quantity:</label>
          <a class="minus-cart btn"><i class="fas fa-minus-square fa-lg"></i></a>
            <span id="quantity">{{item.quantity}}</span>
          <a class="plus-cart btn"><i class="fas fa-plus-square fa-lg"></i></a>
          <a class="remove-cart-item btn btn-sm btn-danger mr-3">Remove item </a>  
        </div> 
        <div class="d-flex justify-content-between">      
          <p class="mb-0"><span><strong>Price: € {{ item.product.discounted_price }}</strong></span></p>
        </div>
        </div>
      </div>
      </div>
      <hr class="text-muted">
      {% endfor %}
    {% else %}
      <h3 class="text-center">Your Cart is empty</h3>
    {% endif %}
   </div>
   </div>
  </div>

  {% if cart_items %}
    <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h3>The Total Amount of</h3>
        <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">Amount<span id="amount_without_shipping">€ {{ amount_without_shipping }}</span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0">Shipping<span id="shipping">€ {{ shipping }}</span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
          <div>
            <strong>Total</strong> <small>(including Tax)</small>
          </div>
          <span><strong id="amount_with_shipping">€ {{ amount_with_shipping }}</strong></span>
        </li>
        </ul>
        <div class="d-grid"><a href="{% url 'checkout' %}" class="btn btn-primary">Place Order</a></div>
      </div>
    </div>
    </div>
  {% endif %}
  
 </div>
</div>
<div class="container">
 <div class="row">
  <div class="col-sm-8">
   <div class="card">
    <div class="card-body">
      <h5 class="mb-4">We accept</h5>
      <img src="{% static 'main/images/payment_methods/payoneer.png' %}" alt="" class="mr-5" width="100px"">
      <img src="{% static 'main/images/payment_methods/google_pay.png' %}" alt="" class="mx-5" width="100px"">
      <img src="{% static 'main/images/payment_methods/paypal.png' %}" alt="" class="mx-5" width="100px"">
    </div>
  </div>
  </div>
 </div>
</div>
{% endblock main-content %}
